extends layout

block content
  h1 Emma Challenge
  p.lead Node.js, TypeScript, EcmaScript, Jest
  hr
  .row
    .col-sm-6
      h2 Transaction
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-info(href='#', role='button') Details »
    .col-sm-6
      h2 Account
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-info(href='#', role='button') Details »